@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@100;500&family=Titillium+Web:ital,wght@0,400;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    font-size: 25pt;
    font-weight: 700;
   
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
button{
    font-size: 16pt;
    font-weight: 500;
    color: rgba(18, 184, 134, 1);
    border: none;
    padding: 10px;
    width: 15%;
    background-color: rgb(235, 246, 255);
  
}
button:focus{
    border: 1px solid #ffff;
    border-radius: 8px;
    background-color:rgba(18, 184, 134, 1) ;
    color: #ffffff;
}
main{
    width: 1300px;
    height: 828px;
    margin: 0 auto

}
ul{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
li{
    
    margin-top: 50px;
    margin-bottom: 50px;
    
}
img{
    border: 1px solid black;
    border-radius: 8px;
}
h3{
    font-size:16pt;
}
.preco{
    color: #000;
}
span{
    color:#868E96;
}
p{
    font-size: 16pt;
    text-align: left;
   
}
img:hover{
    transform:scale(1.3);
    transition: 0.5s;
}
input{
    padding: 10px;
}
#btnBuscar{
    border: none;
    border-radius: 8px;
    background:url("../img/pesquisabtn.png")no-repeat;
    color: #fff;

}
.campoBuscaPorNome{
    width: 300px;
    border-radius: 8px;
    border-color: #dde0e2;
}
.campoBuscaPorNome:hover{
    background-color: #dde0e2;

}
.preco{
    font-size: 20pt;
    font-weight: 900;
}
.containerPrecoTotal{
    display: flex;
    justify-content: space-around;
}
.preco{
    font-size: 14pt;
    padding: 10px;
    background-color: #000;
    color: #fff;
}